.modal-background {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(grey, .25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    height: 200px;
    width: 450px;
    padding: 4rem;
    border: 1px solid black;
}